
/lab4/.vs
lab4/AKO_gr2_cw5_2024.sln
/lab4/Debug
lab4/zad4_1/AKO_gr2_cw5_2024.vcxproj
lab4/zad4_1/AKO_gr2_cw5_2024.vcxproj.filters
lab4/zad4_1/AKO_gr2_cw5_2024.vcxproj.user
/lab4/zad4_1/Debug
/lab4/zad4_1/x64
lab4/zad4_1/zad4_1.vcxproj
lab4/zad4_1/zad4_1.vcxproj.filters
lab4/zad4_1/zad4_1.vcxproj.user
lab4/lab4.sln
/lab4/zad4_2/Debug
*.log
*.tlog
*.vcxproj
*.filters
*.user
*.ilk
*.recipe
*.obj
*.idb
*.pdb
/lab5/.vs
/lab5/Debug
lab5/lab5.sln
/lab5/x64
/lab5/zad5_1/.vs
/lab5/zad5_2/.vs
/lab5/zad5_3/.vs
