
/lab4/.vs
lab4/AKO_gr2_cw5_2024.sln
/lab4/Debug
lab4/zad4_1/AKO_gr2_cw5_2024.vcxproj
lab4/zad4_1/AKO_gr2_cw5_2024.vcxproj.filters
lab4/zad4_1/AKO_gr2_cw5_2024.vcxproj.user
/lab4/zad4_1/Debug
/lab4/zad4_1/x64
lab4/zad4_1/zad4_1.vcxproj
lab4/zad4_1/zad4_1.vcxproj.filters
lab4/zad4_1/zad4_1.vcxproj.user
lab4/lab4.sln
